doctype html
html
  head
    title= title
    link(rel='shortcut icon', type="image/x-icon", href='https://g.csdnimg.cn/static/logo/favicon32.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content